:root {
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

body {
    padding: 0;
    margin: 0;
}

#hero-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65vw;
    max-height: 400px;
    min-height: 250px;
    background: #0D74C4;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

#img-logo {
    width: 75%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 25px;
}
/* ------------------- */
.card {
    background-color: #ffffff;
    margin-bottom: 20px;
    max-width: 550px;
    box-shadow: 0px 0px 3px rgb(209, 208, 208);
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #3F4254;
    padding-top: 24px;
}

.text {
    font-size: 12px;
    text-align: left;
    padding: 0px 5vw;
    padding-bottom: 25px;
}

.titulo-secao {
    font-size: 16px;
    color: #3F4254;
    padding-top: 25px;
    text-align: center;
    font-weight: 700;
}

.titulo-esquerda {
    font-size: 14px;
    color: #3F4254;
    font-weight: 700;
    padding: 23px 10vw;
    padding-bottom: 0px;
}

#icon-text {
    display: flex;
    flex-direction: column
}

.icon {
    margin-left: 10vw;
    width: 25px;
}

.text-modulo {
    font-size: 12px;
    text-align: left;
    margin: 5px 10vw;
    margin-right: 5vw;
}

.horario {
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    margin: 5px 10vw;
    padding-bottom: 15px;
}

/* ------------- */

#instrutor-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-nome {
    font-size: 14px;
    color: #3F4254;
    text-align: center;
    padding-top: 18px;
    font-weight: 700;
}
.profile-img {
    width: 50px;
    height: auto;
}

.centralizar-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-instrutor {
    font-size: 14px;
    text-align: left;
    padding: 0px 5vw;
    padding-bottom: 30px;
}

.saiba-mais-botao {
    background-color: #0D74C4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    margin: -2.1em;
    margin-bottom: 15px;
    height: 30px;
    width: 30px;
}

/* ------------- */

#semi-footer {
    width: 100%;
    background: #F3F6F9;
    padding-bottom: 25px;
}

#centralizar-texto {
    text-align: center;
}

#contato {
    display: flex;
    flex-direction: row;
}

.blue-title {
    font-size: 18px;
    font-weight: 700;
    color: #0D74C4;
    padding: 25px 5vw;
    padding-bottom: 0px;
}

#cadastrar-logar-botoes {
    display: flex;
    flex-direction: column;
}

.white-button {
    background-color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: #0D74C4;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    box-shadow: 0px 0px 3px rgb(209, 208, 208);
    cursor: pointer;
    padding: 10px 50px;
    margin: 3px 5px;
}

.blue-button {
    background-color: #0D74C4;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 3px rgb(209, 208, 208);
    padding: 10px 40px;
    margin: 3px 5px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0D74C4;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
    width: 100%;
    padding-bottom: 15px;
}

.redesocial {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgb(209, 208, 208);
    height: 35px;
    width: 35px;
    margin: 15px 2.5px;
}
.rede-icon {
    height: 18px;
    width: auto;
}

@media only screen and (min-width: 760px) {
    #img-logo {
        width: 500px;
    }
    .hero-background {
        height: 400px;
    }
    .card {
        max-width: 650px;
    }
    .icon-text {
        display: flex;
        flex-direction: row;
    }
    .icon {
        margin-left: 5vw;
    }
    .text-modulo {
        margin-left: 2.5vw;
    }
    #big-button-top {
        padding: 10px 70px;
    }
    #big-button-bottom {
        padding: 10px 120px;
    }
    #semi-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #text-semi-footer {
        padding-left: 10vw;
    }
    #cadastrar-logar-botoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10vw;
    }
}

@media only screen and (min-width: 1200px) {
    #img-logo {
        width: 600px;
    }
    .hero-background {
        height: 500px;
    }
    .card {
        max-width: 850px;
    }
    #text-semi-footer {
        padding-left: 18vw;
    }
    #cadastrar-logar-botoes {
        margin-right: 18vw;
    }
}